// APP HEADER TITLE 
$appTitleClr: #000000;
$def-green-text: #08C152;
$def-green-btn: #08c15228;

$AuthPage: linear-gradient(217.41deg, #38A1F7 6.15%, #02298A 80.33%, #021B79 93.64%);
$AuthPageBtn: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);


//DashBoard Super Admin


$SA_navHorbg-color:linear-gradient(178.21deg, #021C7A 5.38%, #38A1F7 114.11%);
$SA_navVerbg-color: linear-gradient(89.89deg, #04207E 6.18%, #2D85DD 86.57%);

$navbar-dropshadown: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$def-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);

$AuthPage: linear-gradient(217.41deg, #38A1F7 6.15%, #02298A 80.33%, #021B79 93.64%);
$AuthPageBtn: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);

// default
$def-dropshadown: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$def-white: #FFFFFF;
$def-text-grey: #6E6E6F;
$def-blue-text: linear-gradient(180deg, #38568F 0%, #38A1F7 100%);
$def-red-btn: #F247471C !important;
$def-green-btn: #08c15228;
$def-red-text: #F24747;// navbar
$def-green-text: #08C152;
$def-shadow:  0px 2px 12px rgba(0, 0, 0, 0.1);


// buttons
$btn-blue: linear-gradient(93.5deg, #38568F 2.64%, #38A1F7 99.28%);
$cust-btn-white: linear-gradient(180deg, #38568F 0%, #38A1F7 100%);
