@font-face {
  font-family: ProximaNova-Bold;
  src: url("../fonts/Proximanova/PROXIMANOVA-BOLD-WEBFONT.TTF");
}
@font-face {
  font-family: ProximaNova-semibold;
  src: url("../fonts/Proximanova/PROXIMANOVA-SBOLD-WEBFONT.TTF");
}
@font-face {
  font-family: ProximaNova-Regular;
  src: url("../fonts/Proximanova/PROXIMANOVA-REG-WEBFONT.TTF");
}
@font-face {
  font-family: ProximaNova-light;
  src: url("../fonts/Proximanova/PROXIMANOVA-LIGHT-WEBFONT.TTF");
}
@font-face {
  font-family: ProximaNova-thin;
  src: url("../fonts/Proximanova/PROXIMANOVA-THIN-WEBFONT.TTF");
}
@font-face {
  font-family: ProximaNova-XBold;
  src: url("../fonts/Proximanova/PROXIMANOVA-XBOLD-WEBFONT.TTF");
}
.custom-border li {
  border-bottom: 1px solid grey;
  margin: 0 15px;
}
.custom-border li:last-child {
  border-bottom: none;
}
.custom-border li:hover {
  cursor: text !important;
  text-decoration: none !important;
}

.customer-main .nav-link {
  font-size: 20px;
  padding: 0px 15px 15px 10px;
  margin-right: 15px;
}
.customer-main .nav-link img {
  margin-right: 10px;
  width: 30px;
}
.customer-main .tab-pane button {
  font-family: ProximaNova-semibold;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  font-family: ProximaNova-semibold;
  border: none;
  padding: 10px 35px;
  text-align: center;
  color: #38568F;
  background-color: rgba(56, 86, 143, 0.1411764706);
  margin-right: 10px;
}
.customer-main .tab-pane button.active, .customer-main .tab-pane button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);
  color: #FFFFFF;
}
.customer-main .tab-pane .pagination {
  margin-top: 20px;
  position: relative;
}
.customer-main .tab-pane .pagination .pag-num {
  position: absolute;
  right: 0;
  top: 15%;
}
.customer-main .tab-pane .pagination .pag-num select {
  border-radius: 5px;
  font-size: 18px;
  font-family: "ProximaNova-semibold";
  border: none;
  padding: 10px 10px;
  text-align: center;
  color: #38568F;
  background-color: rgba(56, 86, 143, 0.1411764706);
}
.customer-main .tab-pane .pagination .pag-num input[type=number] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}
.customer-main .container-fluid {
  width: 98%;
}
.customer-main .customer-table {
  position: relative;
}
.customer-main .customer-table input[type=text] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
}
.customer-main .customer-table input[type=text]::-webkit-input-placeholder::before {
  color: #666;
  content: "Line 1\aLine 2\aLine 3\a";
}
.customer-main .customer-table table {
  width: 100%;
  margin-top: 25px;
  font-size: 12px;
}
.customer-main .customer-table table .tab-btn {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);
  border-radius: 5px;
  font-family: "ProximaNova-semibold";
  font-size: 14px;
  text-align: center;
  padding: 6px 20px;
  color: #FFFFFF;
}
.customer-main .customer-table table .stat-bx {
  border-radius: 3px;
  padding: 6px 10px;
  font-size: 12px;
  font-family: "ProximaNova-Bold";
  width: 200px;
  text-align: center;
}
.customer-main .customer-table table .stat-bx.rej {
  background: #faeae9;
  color: #F24747;
}
.customer-main .customer-table table .stat-bx.suc {
  background: #e6f5ed;
  color: #08C152;
}
.customer-main .customer-table table thead tr:nth-of-type(1) {
  display: none;
}
.customer-main .customer-table table thead th {
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0.06);
}
.customer-main .customer-table table thead th:nth-of-type(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.customer-main .customer-table table thead th:nth-last-child(1) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.customer-main .customer-table table tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 15px 15px;
}
.customer-main .customer-table table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.customer-main .col-xpand {
  background: rgba(56, 161, 247, 0.08);
  border: 2px solid #38568F;
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
}
.customer-main .col-xpand .xpand-box {
  width: 17%;
  float: left;
  border-right: 1px solid rgba(56, 161, 247, 0.3);
}
.customer-main .col-xpand .xpand-box:nth-last-child(1) {
  border-right: none;
}
.customer-main .col-xpand .xpand-box a {
  text-decoration: none;
}
.customer-main .col-xpand .xpand-box img {
  width: 30px;
}
.customer-main .col-xpand .xpand-box h6 {
  font-weight: 600;
  font-size: 18px;
  background: linear-gradient(180deg, #38568F 0%, #38A1F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding-top: 8px;
  letter-spacing: 0.5px;
}
.customer-main .nav-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 2%;
}
.customer-main .nav-border .nav-item a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.customer-main .nav-border .nav-item a.active {
  border-bottom: 3px solid #38568F;
}
.customer-main .cus-blue-outline-btn {
  background: white;
  color: #38A1F7;
  text-align: center;
  border-radius: 5px;
  font-family: ProximaNova-semibold;
  font-size: 18px;
  line-height: 21.75px;
  border: 2px solid #38A1F7;
  padding: 8px 22px;
  margin: 0 3px;
}
@media (max-width: 575.98px) {
  .customer-main .cus-blue-outline-btn {
    margin-bottom: 10px;
  }
}
.customer-main .cus-blue-btn {
  padding: 9px 22px;
  text-align: center;
  border-radius: 5%;
  border: none;
  background: linear-gradient(93.5deg, #38568F 2.64%, #38A1F7 99.28%);
  outline: none;
  color: #FFFFFF;
  font-family: ProximaNova-semibold;
  font-size: 18px;
  line-height: 21.75px;
  margin: 0px 3px;
}
@media (max-width: 575.98px) {
  .customer-main .cus-blue-btn {
    margin-bottom: 10px;
    padding: 8px 22px;
  }
}
.customer-main .custom-activity-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 10px;
}
.customer-main .custom-activity-heading .head-text {
  font-weight: 400;
  font-family: ProximaNova-bold;
  font-size: 20px;
  line-height: 24px;
  display: block ruby;
}
.customer-main .custom-activity-heading .down-text {
  font-size: 16px;
  font-weight: 700;
  font-family: ProximaNova-bold;
  line-height: 16px;
}
.customer-main .custom-activity-heading .cus-show {
  width: 44px;
  height: 19px;
  font-family: ProximaNova-bold;
  font-size: 16px;
  line-height: 19px;
  color: #6E6E6F;
}
.customer-main .custom-activity-heading .cus-today {
  font-size: 16px;
  font-family: ProximaNova-bold;
  background: linear-gradient(87.01deg, #38568F 10.28%, #38A1F7 105.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.customer-main .custom-activity-heading .dropdown-toggle {
  padding: 0.4rem;
}
.customer-main .custom-activity-heading label {
  color: #6E6E6F;
  font-size: 16px;
  font-weight: 600;
}
.customer-main .pie-chart {
  margin: 20px auto;
  text-align: center;
}
.customer-main .pie-data1 {
  text-align: center;
  margin: 0;
  padding: 0;
}
.customer-main .pie-data1 li {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #6E6E6F;
  padding: 20px 50px;
}
.customer-main .pie-data {
  display: flex;
  justify-content: space-between;
  font-size: 6px;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.customer-main .pie-data .dotone {
  background: green;
}
.customer-main .pie-data div {
  width: 10px;
  height: 10px;
  background: red;
  margin: auto 12px;
  display: flex;
  border-radius: 2px;
}
.customer-main .pie-data div h4 {
  display: flex;
  margin: -1px 25px;
  align-items: center;
  font-size: 20px;
  line-height: 24.17px;
  font-family: ProximaNova-Regular;
  font-weight: 600;
  color: #6E6E6F;
}
.customer-main .pie-data h5 {
  background: blue;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: ProximaNova-Regular;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.customer-main .pie-data:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.customer-main .pie-data:last-child div {
  background: yellow;
}/*# sourceMappingURL=customer.css.map */