@import '_mixin';
@import '_fonts';
@import '_colors';

.custom-border li {
    border-bottom: 1px solid grey;
    margin: 0 15px;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        cursor: text !important;
        text-decoration: none !important;
    }
}

.customer-main {


    .nav-link {
        font-size: 20px;
        padding: 0px 15px 15px 10px;
        margin-right: 15px;

        img {
            margin-right: 10px;
            width: 30px;
        }
    }

    .tab-pane {

        button {
            font-family: ProximaNova-semibold;
            border-radius: 5px;
            font-weight: 600;
            font-size: 18px;
            font-family: ProximaNova-semibold;
            border: none;
            padding: 10px 35px;
            text-align: center;
            color: #38568F;

            background-color: #38568f24;
            margin-right: 10px;

            &.active,
            &:hover {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);
                color: #FFFFFF;
            }


        }

        .pagination {
            margin-top: 20px;
            position: relative;

            .pag-num {
                position: absolute;
                right: 0;
                top: 15%;

                select {
                    border-radius: 5px;
                    // font-weight: 600;
                    font-size: 18px;
                    font-family: 'ProximaNova-semibold';
                    border: none;
                    padding: 10px 10px;
                    text-align: center;
                    color: #38568F;
                    background-color: #38568f24;
                    // margin-right: 10px;
                }

                input[type=number] {
                    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    // width: 20%;
                }
            }
        }
    }

    .container-fluid {
        width: 98%;
    }

    .customer-table {

        position: relative;

        input[type=text] {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: black;
            position: absolute;
            right: 0;
            top: 0;
            width: 20%;

        }

        input[type=text]::-webkit-input-placeholder::before {
            color: #666;
            content: "Line 1\A Line 2\A Line 3\A";
        }

        table {

            width: 100%;
            margin-top: 25px;
            font-size: 12px;

            // tfoot {
            //     display: none;
            // }


            .tab-btn {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);
                border-radius: 5px;
                font-family: 'ProximaNova-semibold';
                font-size: 14px;
                text-align: center;
                padding:6px 20px;
                color: #FFFFFF;
            }
              
            .stat-bx {
                border-radius: 3px;
                padding:6px 10px;
                font-size: 12px;
                font-family: 'ProximaNova-Bold';
                width: 200px;
                text-align: center;
                &.rej {
                    background: #faeae9;
                    color:#F24747;

                }

                &.suc {
                    background: #e6f5ed;
                    color:#08C152;

                }
            }

            thead tr:nth-of-type(1) {
                display: none;
            }


            thead th {
                // background-color: red;
                // border-bottom: 1px solid rgba(0, 0, 0, 0.09);
                // border-top: 1px solid rgba(0, 0, 0, 0.09);
                padding: 15px 15px;
                background-color: rgba(0, 0, 0, 0.06);
                // background-color: #ccc;
                // border-bottom-right-radius: 10px;


                &:nth-of-type(1) {
                    // border-left: 1px solid rgba(0, 0, 0, 0.09);
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                &:nth-last-child(1) {
                    // border-right: 1px solid rgba(0, 0, 0, 0.09);
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;

                }
            }

            tbody td {
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                padding: 15px 15px;

            }

            tbody tr {

                &:hover {
                    background-color: rgba(0, 0, 0, 0.03);
                }

            }
          

            // tbody tr td.dt-control {

            //     &::before {
            //         color: #38568F;
            //         font: var(--fa-font-solid);
            //         content: "\f054";
            //         border: none;
            //         box-shadow: none;
            //         background-color: transparent;
            //     }


            // }






            // .shown {
            //     td.dt-control {

            //         &::before {
            //             color: #38568F;
            //             font: var(--fa-font-solid);
            //             content: "\f078";

            //         }
            //     }
            // }
        }
    }

    .col-xpand {
        background: rgba(56, 161, 247, 0.08);
        border: 2px solid #38568F;
        width: 90%;
        border-radius: 5px;
        margin: 0 auto;
        padding: 10px;

        .xpand-box {
            width: 17%;
            float: left;
            border-right: 1px solid rgba(56, 161, 247, 0.3);

            &:nth-last-child(1) {
                // background-color: red;
                border-right: none;
            }

            a {
                text-decoration: none;
            }

            img {
                width: 30px;
            }

            h6 {
                font-weight: 600;
                font-size: 18px;

                background: linear-gradient(180deg, #38568F 0%, #38A1F7 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                padding-top: 8px;
                letter-spacing: 0.5px;
            }
        }
    }


    //navbar
    .nav-border {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        margin-bottom: 2%;

        .nav-item a {
            float: left;
            display: block;
            // color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            border-bottom: 3px solid transparent;
        }

        .nav-item a.active {
            border-bottom: 3px solid #38568F;
        }
    }


    .cus-blue-outline-btn {
        background: white;
        color: #38A1F7;
        text-align: center;
        border-radius: 5px;
        font-family: ProximaNova-semibold;
        font-size: 18px;
        line-height: 21.75px;
        border: 2px solid #38A1F7;
        padding: 8px 22px;
        // margin-left: 3px;
        margin: 0 3px;

        @include xsm {
            margin-bottom: 10px;

        }

    }


    .cus-blue-btn {
        // width: 126px;
        // height: 40px;
        padding: 9px 22px;
        text-align: center;
        border-radius: 5%;
        border: none;
        background: $btn-blue;
        outline: none;
        color: $def-white;
        font-family: ProximaNova-semibold;
        // font-weight: 600;
        // font-size: 16px;
        font-size: 18px;
        line-height: 21.75px;
        margin: 0px 3px;

        @include xsm {
            margin-bottom: 10px;
            padding: 8px 22px;
        }
    }


    .custom-activity-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding-bottom: 10px;
        // max-width: 400px;
        // margin: 0 auto;
        // background: #A0C5E8;
        // padding: 10px 0;


        .head-text {
            font-weight: 400;
            font-family: ProximaNova-bold;
            font-size: 20px;
            line-height: 24px;
            display: block ruby;
        }

        .down-text {
            font-size: 16px;
            font-weight: 700;
            font-family: ProximaNova-bold;
            line-height: 16px;
        }

        .cus-show {
            width: 44px;
            height: 19px;
            font-family: ProximaNova-bold;
            font-size: 16px;
            line-height: 19px;
            color: #6E6E6F;
        }

        .cus-today {
            font-size: 16px;
            font-family: ProximaNova-bold;
            background: linear-gradient(87.01deg, #38568F 10.28%, #38A1F7 105.7%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .dropdown-toggle {
            padding: 0.4rem;
        }

        label {
            color: #6E6E6F;
            font-size: 16px;
            font-weight: 600;
        }


    }



    .pie-chart {
        margin: 20px auto;
        text-align: center;

    }

    .pie-data1 {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .pie-data1 li {
        display: inline-block;
        font-size: 16px;
        line-height: 19px;
        color: #6E6E6F;
        padding: 20px 50px;


    }


    .pie-data {

        display: flex;
        justify-content: space-between;
        font-size: 6px;
        padding: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        .dotone {
            background: green;
        }


        div {
            width: 10px;
            height: 10px;
            background: red;
            margin: auto 12px;
            display: flex;
            border-radius: 2px;

            h4 {
                display: flex;
                margin: -1px 25px;
                align-items: center;
                font-size: 20px;
                line-height: 24.17px;
                font-family: ProximaNova-Regular;
                font-weight: 600;
                color: #6E6E6F;
            }
        }

        h5 {
            background: blue;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;
            font-family: ProximaNova-Regular;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
        }


        &:last-child {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            div {
                background: yellow;
            }
        }
    }


}