/* By Uk */
@import 'mixin';
@import 'fonts';
@import 'colors';


.txt-color {
    background: linear-gradient(90deg, #38568F 0%, #38A1F7 93.85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

// DASHBOARD
.custom-dshbd-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;

    .nav-link {
        color: #6E6E6F;
        font-family: ProximaNova-Bold;
        border: 0;

        &.active {
            @extend .txt-color;
            border-bottom: 2px solid #38568F;
        }
    }
}


.approved-btn {
    color: $def-green-text !important;
    background: $def-green-btn;
    border-radius: 5px;
    font-family: ProximaNova-semibold;
    font-size: 12px;
    line-height: 15px;
    border: none;
    padding: 5px 15px;
}

.kyc-report {
    padding: 1%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;

    .card {
        background: #FFFFFF;
        border: 1px solid #F6F8F9;
        box-sizing: border-box;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        padding: 1%;
    }

    .kycreport-header {
        display: flex;
        justify-content: center;

        .heading-kycreport {
            font-family: Proximanova-Bold;
        }

        .report-video {
            margin: 0 auto;
            margin-bottom: 7px;

        }

    }

    h1 {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        background: linear-gradient(180deg, #38568F 0%, #38A1F7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin: 0 auto;
        text-fill-color: transparent;
        margin-bottom: 0.5%;
    }

    .kycdetails {
        padding: 2%;
        border-collapse: collapse;

        border: 1px solid rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        // display: inline-table;
        // border-radius: 5px;

        .customer-heading {
            font-family: Proximanova-semibold;
            font-size: 22px;
            line-height: 26.59px;
            color: #121212;
        }

        .table-userdetails {
            border-top: 1px solid rgba(0, 0, 0, 0.15);
        }

        .kyc-header {
            border: 1px solid rgba(0, 0, 0, 0.15);
            text-align: center;
            font-family: ProximaNova-semibold;
            font-size: 22px;
            line-height: 27px;
            color: #121212;

            .btn-circle {
                width: 16px;
                height: 16px;
                line-height: 15px;
                font-size: 8px;
                text-align: center;
                padding: 0;
                background: linear-gradient(180deg, #38568F 0%, #38A1F7 100%);
                border-radius: 50%;
            }

            th {
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                border: none;
                color: #000;
            }

            h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #121212;
            }
        }

        .kyc-reportdataheader {
            border-right: 1px solid rgba(0, 0, 0, 0.15);
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            padding-left: 1%;
            color: #6E6E6F;
        }

        .kyc-reportdata {
            border-right: 1px solid rgba(0, 0, 0, 0.15);
            font-size: 22px;
            font-family: ProximaNova-semibold;

            line-height: 27px;
            padding-left: 1%;
            color: #121212;

        }

        .kyc-match {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            align-items: center;
            text-align: center;
        }
    }
}

.facematch-details {
    td {
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        display: flow-root;
        border-radius: 5px;

        h6 {
            font-family: ProximaNova-semibold;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;
            text-align: center;
            color: #121212;

        }
    }
}


.face-match-bx {

    text-align: center;
    justify-content: center;

    .fm-card {
        border: 1px solid #00000026;
        border-radius: 5px;
        margin: 10px 7px;
        padding: 7px;
    }

    .face-match-heading {
        font-size: 22px;
        color: #121212;

    }

    .fm-bx-img {
        margin: 10px 0px;

        img {

            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    h3 {
        font-size: 18px;
    }

}


.submitbutton {
    width: 50%;
    height: 56px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);
    border-radius: 5px;
    font-family: ProximaNova-semibold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    margin-top: 1%;
    border: 1px solid #38A1F7;

    @include xsm {
        width: 100%;
    }

    @include sm {
        width: 100%;
    }
}

.liveness-content {
    iframe {
        width: 100%;
    }
}

.questions {
    background: #38a1f733;
    border-radius: 5px;
    margin: auto;
    border: 1px solid rgba(56, 161, 247, 0.2);
    width: 50%;
    height: 56px;
    justify-content: center;
    margin-top: 1%;
    font-family: ProximaNova-semibold;

    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #2D2D2D;

    @include xsm {
        width: 100%;
    }

    @include sm {
        width: 100%;
    }

    img {
        width: 60px;
        height:60px;
    }
}

.btn-success1 {
    background: #08C152;

}

.btn-danger1 {
    background: #F24747;

}