@import '_mixin';
@import '_fonts';
@import '_colors';

.popup-main {


    .close {
        padding: 3px 6px;
        border: 2px solid #333;
        border-radius: 50%;
        line-height: 0px;
        opacity: 0.3;
        font-size: 12px;
        font-size: 12px;
        font-weight: bold;
    }

    .modal-title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        font-family: ProximaNova-semibold;
        color: #000000;

    }

    .modal-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.8rem 0rem 0.8rem 0rem;
        width: 90%;
        margin: 0 auto;
    }

    .modal-body {
        padding: 1.5rem 1rem;
    }


    .modal-button3 {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);
        border-radius: 5px;
        height: 40px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        text-align: center;

        color: #FFFFFF;
        font-family: ProximaNova-semibold;
        width: 140px;
    }







    //View Kyc Report


}

.kyc-reportModal {

    .modal-body {

        width: 97%;
        margin: 0 auto;
        padding-top: 0px;

        .face-box {
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            padding: 10px;

            h6 {
                font-family: 'ProximaNova-Bold';
                // font-size: 22px;
            }

            h5 {
                font-size: 16px;
                margin: 0px;

            }

            img {
                width: 47%;
                height: 200px;
                margin: 1%;
                object-fit: cover;
                object-position: center;
            }

            .line {
                margin: 9px 0px 8px 0px;
            }
        }

        .match-box {
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            padding: 10px;

            h6 {
                font-family: 'ProximaNova-Bold';
                // font-size: 22px;
            }

            h5 {
                font-size: 16px;
                margin: 0px;

            }

            img {
                width: 47%;
            }

            .line {
                margin: 9px 0px 8px 0px;
            }

            iframe {
                width: 100%;
            }
        }
    }

    .modal-header {
        border-bottom: none;
        width: 96%;
        padding: 20px 0px;
    }

    .modal-title {
        background: linear-gradient(180deg, #38568F 0%, #38A1F7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 20px;
        font-family: 'ProximaNova-Bold';
    }

    .details-head {
        text-align: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-bottom: none;
        font-size: 20px;
        font-family: 'ProximaNova-semibold';
    }


    .table-borderless {
        font-size: 14px;

        thead {

            // background-color: red;
            tr {

                border: 1px solid #ccc;

                th {
                    // border-top: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    text-align: center;
                    padding: 11px 10px;
                }
            }
        }

        tbody {
            tr {
                td {
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    font-family: 'ProximaNova-semibold';
                    padding: 3px 15px;
                    text-align: left;

                    &:nth-of-type(1) {
                        font-family: 'ProximaNova-Regular';
                    }
                }

                &:nth-last-of-type(1) {
                    border-bottom: 1px solid #ccc;
                    line-height: 30px;
                }

            }
        }


    }


    .line {
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        margin: 19px 0px 8px 0px;

    }


    .mark-box {
        width: 80%;
        margin: 0 auto;

        input[type=text] {
            border: 1px solid #ADB3BC;
            padding: 13px 10px;
            width: 100%;
            margin-bottom: 12px;
            border-radius: 5px;
            font-size: 18px;

            &:focus-visible {
                outline: red;
                border: 2px solid #38568F;
            }
        }

        .mark-text {
            background: rgba(56, 161, 247, 0.2);
            // opacity: 0.5;
            border-radius: 5px;
            text-align: center;
            padding: 16px 10px;
            font-size: 20px;
            font-family: 'ProximaNova-semibold';

            .fa-solid {
                border-radius: 50%;
                color: white;
                margin-left: 10px;
                font-size: 14px;

                &.fa-x {
                    background-color: red;
                    padding: 8px 10px;
                }

                &.fa-check {
                    padding: 9px 10px;
                    background-color: green;
                }

            }
        }
    }

    .modal-footer {

        border-top: none;
        padding-bottom: 20px;
        padding-top: 0px;

        button {
            font-family: ProximaNova-semibold;
            border-radius: 5px;
            font-weight: 600;
            font-size: 18px;
            font-family: ProximaNova-semibold;
            border: none;
            padding: 10px 50px;
            text-align: center;
            color: #38568F;

            background-color: #38568f24;

            &.active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);
                color: #FFFFFF;
            }
        }

    }


}