@font-face {
  font-family: ProximaNova-Bold;
  src: url("../fonts/Proximanova/PROXIMANOVA-BOLD-WEBFONT.TTF");
}
@font-face {
  font-family: ProximaNova-semibold;
  src: url("../fonts/Proximanova/PROXIMANOVA-SBOLD-WEBFONT.TTF");
}
@font-face {
  font-family: ProximaNova-Regular;
  src: url("../fonts/Proximanova/PROXIMANOVA-REG-WEBFONT.TTF");
}
@font-face {
  font-family: ProximaNova-light;
  src: url("../fonts/Proximanova/PROXIMANOVA-LIGHT-WEBFONT.TTF");
}
@font-face {
  font-family: ProximaNova-thin;
  src: url("../fonts/Proximanova/PROXIMANOVA-THIN-WEBFONT.TTF");
}
@font-face {
  font-family: ProximaNova-XBold;
  src: url("../fonts/Proximanova/PROXIMANOVA-XBOLD-WEBFONT.TTF");
}
.popup-main .close {
  padding: 3px 6px;
  border: 2px solid #333;
  border-radius: 50%;
  line-height: 0px;
  opacity: 0.3;
  font-size: 12px;
  font-size: 12px;
  font-weight: bold;
}
.popup-main .modal-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-family: ProximaNova-semibold;
  color: #000000;
}
.popup-main .modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.8rem 0rem 0.8rem 0rem;
  width: 90%;
  margin: 0 auto;
}
.popup-main .modal-body {
  padding: 1.5rem 1rem;
}
.popup-main .modal-button3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);
  border-radius: 5px;
  height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  font-family: ProximaNova-semibold;
  width: 140px;
}

.kyc-reportModal .modal-body {
  width: 97%;
  margin: 0 auto;
  padding-top: 0px;
}
.kyc-reportModal .modal-body .face-box {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
}
.kyc-reportModal .modal-body .face-box h6 {
  font-family: "ProximaNova-Bold";
}
.kyc-reportModal .modal-body .face-box h5 {
  font-size: 16px;
  margin: 0px;
}
.kyc-reportModal .modal-body .face-box img {
  width: 47%;
  height: 200px;
  margin: 1%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.kyc-reportModal .modal-body .face-box .line {
  margin: 9px 0px 8px 0px;
}
.kyc-reportModal .modal-body .match-box {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
}
.kyc-reportModal .modal-body .match-box h6 {
  font-family: "ProximaNova-Bold";
}
.kyc-reportModal .modal-body .match-box h5 {
  font-size: 16px;
  margin: 0px;
}
.kyc-reportModal .modal-body .match-box img {
  width: 47%;
}
.kyc-reportModal .modal-body .match-box .line {
  margin: 9px 0px 8px 0px;
}
.kyc-reportModal .modal-body .match-box iframe {
  width: 100%;
}
.kyc-reportModal .modal-header {
  border-bottom: none;
  width: 96%;
  padding: 20px 0px;
}
.kyc-reportModal .modal-title {
  background: linear-gradient(180deg, #38568F 0%, #38A1F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 20px;
  font-family: "ProximaNova-Bold";
}
.kyc-reportModal .details-head {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  font-size: 20px;
  font-family: "ProximaNova-semibold";
}
.kyc-reportModal .table-borderless {
  font-size: 14px;
}
.kyc-reportModal .table-borderless thead tr {
  border: 1px solid #ccc;
}
.kyc-reportModal .table-borderless thead tr th {
  border-right: 1px solid #ccc;
  text-align: center;
  padding: 11px 10px;
}
.kyc-reportModal .table-borderless tbody tr td {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-family: "ProximaNova-semibold";
  padding: 3px 15px;
  text-align: left;
}
.kyc-reportModal .table-borderless tbody tr td:nth-of-type(1) {
  font-family: "ProximaNova-Regular";
}
.kyc-reportModal .table-borderless tbody tr:nth-last-of-type(1) {
  border-bottom: 1px solid #ccc;
  line-height: 30px;
}
.kyc-reportModal .line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 19px 0px 8px 0px;
}
.kyc-reportModal .mark-box {
  width: 80%;
  margin: 0 auto;
}
.kyc-reportModal .mark-box input[type=text] {
  border: 1px solid #ADB3BC;
  padding: 13px 10px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 5px;
  font-size: 18px;
}
.kyc-reportModal .mark-box input[type=text]:focus-visible {
  outline: red;
  border: 2px solid #38568F;
}
.kyc-reportModal .mark-box .mark-text {
  background: rgba(56, 161, 247, 0.2);
  border-radius: 5px;
  text-align: center;
  padding: 16px 10px;
  font-size: 20px;
  font-family: "ProximaNova-semibold";
}
.kyc-reportModal .mark-box .mark-text .fa-solid {
  border-radius: 50%;
  color: white;
  margin-left: 10px;
  font-size: 14px;
}
.kyc-reportModal .mark-box .mark-text .fa-solid.fa-x {
  background-color: red;
  padding: 8px 10px;
}
.kyc-reportModal .mark-box .mark-text .fa-solid.fa-check {
  padding: 9px 10px;
  background-color: green;
}
.kyc-reportModal .modal-footer {
  border-top: none;
  padding-bottom: 20px;
  padding-top: 0px;
}
.kyc-reportModal .modal-footer button {
  font-family: ProximaNova-semibold;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  font-family: ProximaNova-semibold;
  border: none;
  padding: 10px 50px;
  text-align: center;
  color: #38568F;
  background-color: rgba(56, 86, 143, 0.1411764706);
}
.kyc-reportModal .modal-footer button.active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);
  color: #FFFFFF;
}/*# sourceMappingURL=popup.css.map */