/* By Uk */
@import 'mixin';
@import 'fonts';
@import 'colors';

$bgc: #D3E1F7;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: ProximaNova-Regular;
}

body::-webkit-scrollbar,
.app-body::-webkit-scrollbar {
    width: 5px;
    // background-color: #16161E;
}

body::-webkit-scrollbar-track,
.app-body::-webkit-scrollbar-track {
    background-color: #dbdbdb;
}

body::-webkit-scrollbar-thumb,
.app-body::-webkit-scrollbar-thumb {
    background-color: #647faf;
    border-radius: 6px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.btn {
    width: 100%;
    height: 45px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, #38A1F7 0.1%, #38568F 99.85%);
    color: #ffffff;
    font-family: ProximaNova-semibold;
    outline: none;
    border-radius: 6px;
    border: 0;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    // &.btn1{
    //     width: 230px;
    // }
    &.btn-white {
        // width: 230px;
        // background-color: #fff;
        color: #16161E;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(269.82deg, rgba(56, 161, 247, 0.151) 0.1%, rgba(56, 87, 143, 0.151) 99.85%);
        // opacity: 0.1;
        color: #38568F;
    }

    &:hover {
        color: #ffffff;
        transform: scale(1.03);
        &.btn-white{
            color: rgb(75, 109, 224);
        }
    }

    &:focus {
        box-shadow: none;
    }
}

.close {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    // border: 1px solid #647faf !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -5px !important;

    &:focus {
        outline: none;
    }
}


.btn.btn-green {
    background: rgba(8, 193, 82, 0.173);
    color: #08C152;
}

.btn.btn-red {
    background: rgba(193, 30, 8, 0.173);
    color: rgb(193, 30, 8);
}

.w-auto {
    width: auto !important;
}

.mb-20 {
    margin-bottom: 10px !important;
}

.mb-10p {
    margin-bottom: 30% !important;
}

.w-100px {
    width: 100px !important;
}

input::placeholder {
    font-family: ProximaNova-Regular;
}

input:focus,
select:focus {
    transition: all 300ms ease;
    outline-color: rgb(80, 166, 247);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: #16161E;
    margin-bottom: 6px;
    font-size: 20px;
    font-family: ProximaNova-semibold;
}

.txt {
    color: #7e7e7e;
    font-size: 14px;
    font-family: ProximaNova-Regular;
}

.txt-color {
    background: linear-gradient(90deg, #38568F 0%, #38A1F7 93.85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.frm-grp {
    position: relative;
    margin-bottom: 14px;

    .frm-grp-inp {
        width: 100%;
        height: 45px;
        border: 1px solid #ADB3BC;
        color: #16161E;
        // color: #000;
        border-radius: 4px;
        padding: 0px 10px;
        font-family: ProximaNova-Bold;
    }
}

/*============================HEADER=====================*/

.top-nav {
    
    .container-fluid {
        width: 98% ;
    }
}
.navbar{
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    .navbar-brand img {
        width: 30px;
        height: auto;
        object-fit: cover;
    }

    .agnt-name {
        font-family: ProximaNova-Bold;
        color: #ffffff;
        font-size: 20px;
    }

    .agnt-prf {
        position: relative;

        &::after {
            // content: ">";
            position: absolute;
            right: -4px;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
            color: #ffffff;
        }
    }

    .agnt-prf-img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        background-color: #fff;
        border-radius: 50%;
    }

    .agnt-prf-bx {
        margin-left: 6px;

        .agnt-prf-name {
            color: #ffffff;
            margin-bottom: 0;
            font-family: ProximaNova-Bold;
        }

        .agnt-prf-subname {
            color: #93979C;
            margin-bottom: 0;
            font-size: 12px;
        }
    }
}



/*============================MAIN=====================*/
.main{

    margin-top: 80px !important;

    .container-fluid {

        width: 98%;
    }

    .box-2 {
        // background-color: red;

        h6 {
            font-size: 18px;
            color: #121212;
            font-weight: bold;
        }

        .line {
            height: 1px;
            background-color: rgba(0, 0, 0, 0.05);
            margin:11px 0px 19px 0px;
        }

        .cus-btn  {
            // background: linear-gradient(93.5deg, #38568F 2.64%, #38A1F7 99.28%);
            border-radius: 5px;
            color: #38568F;
            padding:0px 25px;

            border:2px solid #38568F;
            background:white;

            font-size: 18px;

            


            &.active {
                color:white;
                background: linear-gradient(93.5deg, #38568F 2.64%, #38A1F7 99.28%);
                border:none;

            }
        }
    }
    // height: 100vh;
    background-color: #ffffff;
}

.bx{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #ffffff;
    padding: 16px;
    height: 100%;

    .bx-hdr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding-bottom: 10px;

        .bx-hdr-ttl {
            margin-bottom: 0;
            color: #121212;
            font-family: ProximaNova-Bold;
            font-size: 18px;
        }

        .bx-hdr-lbl {
            color: #6E6E6F;
            font-size: 13px;
            margin-bottom: 0;
        }

        .bx-hdr-inp {
            @extend .txt-color;
            width: 70px;
            font-family: ProximaNova-Bold;
            border: 0;

            &:focus {
                outline: none;
            }
        }
    }

    .bx-cll-chrt {
        // height: 260px;
        width: 100%;
        margin-bottom: 20px;
        // background-color: #6E6E6F;
        @extend .center;

        canvas {
            width: 100% !important;
            height: auto;
        }
    }

    .bx-cll-lst {
        padding-left: 0;
        list-style: none;
        margin: 0;

        .bx-cll-lst-itm {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            &:nth-child(1) {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }

            padding: 10px 0px;

            .bx-cll-lst-itm-nm {
                margin-bottom: 0;
                color: #6E6E6F;
                font-size: 16px;
                font-family: ProximaNova-semibold;

                span {
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    border-radius: 3px;
                    margin-right: 3px;

                    &.itm-red {
                        background-color: #F24747;
                    }

                    &.itm-green {
                        background-color: #4DAE68;
                    }

                    &.itm-yellow {
                        background-color: #F9C717;
                    }

                }
            }

            .bx-cll-lst-itm-cnt {
                @extend .txt-color;
                font-family: ProximaNova-Bold;
                font-size: 20px;
            }
        }
    }
}

/*============================LOGIN=====================*/
.lgn {
    display: flex;
    width: 100%;
    height: 100vh;

    .lgn-lf {
        background: linear-gradient(217.41deg, #38A1F7 6.15%, #02298A 80.33%, #021B79 93.64%);
        flex: 0 1 (100%)/(12/8);
        @extend .center;
        justify-content: flex-start !important;
        padding-left: 10%;
        position: relative;

        .lgn-bx {
            @extend .center;

            // align-items: flex-start !important;
            .lgn-bx-icn {
                width: 65px;
                height: auto;
            }

            .lgn-bx-dt {
                margin-left: 10px;

                .lgn-bx-ttl {
                    margin-bottom: 4px;
                    font-family: ProximaNova-XBold;
                    font-size: 65px;
                    color: #ffffff;
                    line-height: 1;
                }

                .lgn-bx-tx {
                    color: #ffffff;
                    margin-bottom: 0;
                    font-size: 20px;
                    // line-height: 1;
                }
            }
        }

        .lgn-layer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 35%;
            height: auto;
            object-fit: cover;
        }
    }

    .lgn-rt {
        flex: 1;
        padding: 5%;

        .lgn-rt-frm {
            // background-color: #02298A;
            flex: 1;

            .lgn-rt-frm-ttl {
                color: #333333;
                font-family: ProximaNova-Bold;
                margin-bottom: 4px;
                // line-height: 1;
            }

            .lgn-rt-frm-txt {
                color: #333333;
                font-family: ProximaNova-Regular;
                font-size: 20px;
                margin-bottom: 25px;
            }

            .lgn-link {
                color: #38568F;
                font-family: ProximaNova-semibold;
                font-size: 18px;
            }
        }
    }
}

.custom-dialog-rst {
    width: 25%;

    @include xsm {
        width: 90%;
    }

    @include sm {
        width: 90%;
    }

    .lgn-rst-txt {
        color: #6E6E6F;
        font-size: 20px;
    }
}








/*============================LOGIN=====================*/



/*============================HEADER=====================*/
.navbar {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    .navbar-brand img {
        width: 30px;
        height: auto;
        object-fit: cover;
    }

    .agnt-name {
        font-family: ProximaNova-Bold;
        color: #ffffff;
        font-size: 20px;
    }

    .agnt-prf {
        position: relative;

        &::after {
            // content: ">";
            position: absolute;
            right: -4px;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 9;
            color: #ffffff;
        }
    }

    .agnt-prf-img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        background-color: #fff;
        border-radius: 50%;
    }

    .agnt-prf-bx {
        margin-left: 6px;

        .agnt-prf-name {
            color: #ffffff;
            margin-bottom: 0;
            font-family: ProximaNova-Bold;
        }

        .agnt-prf-subname {
            color: #93979C;
            margin-bottom: 0;
            font-size: 12px;
        }
    }
}